In [7]:
import pandas as pd
import itertools

In [8]:
df = pd.read_excel('Book1.xlsx')
df

  Name of Company  Post Code
0        CompanyA     B202ER
1        CompanyB  Something
2        CompanyG     B202ER
3        CompanyB     B202ER
4        CompanyE     B202ER
5        CompanyF     B202ER
6        CompanyG      Hello
7        CompanyG     B202ER
8        CompanyI     B202ER
9        CompanyJ      HELLO

Rules: 
> if there are duplicates in the 'company' column, highlight them in red
> if there are duplicates in the [postcode] column, highlight them in green

Solutions:
identify uique values
avoid iteration

In [9]:
company_names = set()

In [40]:
rows, columns = df.shape   
print(f'number of columns : {columns}')
print(f'number of rows : {rows}')

number of columns : 2
number of rows : 10

In [29]:
df.describe()

       Name of Company Post Code
count               10        10
unique               7         4
top           CompanyG    B202ER
freq                 3         7

In [31]:
# find unique values